<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Corsica</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="menu">
        <button onclick="window.location.href='/calendar'">Pulizie</button>
        <button onclick="window.location.href='/todo'">Cose da fare</button>
        <button onclick="window.location.href='/today'">Frase del giorno</button>
        <button onclick="window.location.href='/homelimpiadi'">Homelimpiadi</button>
    </div>
</body>
</html>
